body{
    background-image:url("../img/5.jpg");
    background-size:cover;
}
h1{
    color:red;
    text-align: center;
    font-size:50px;
    text-decoration:underline;
    margin-left:50px;
}
.add
{
    text-align:center;
    border:0px solid;
    width:300px;
    height:auto;
    margin-top:80px;
    margin-left:38%;
    padding: 35px;
    background-color: rgba(234, 229, 243, 0.815);
}
input{
    padding:10px;
    margin:10px;
    border-radius:5px;
}
.btn_add{
    width:100px;
    padding:10px;
    border-radius:5px;
    background-color:rgba(0,255,0,0.6);
    
}